:root{
    --Dark-Gray: hsl(0, 0%, 63%);
--Black: hsl(0, 0%, 0%);
--White: hsl(0, 0%, 100%);
--Very-Dark-Gray: hsl(0, 0%, 27%);
--League-Spartan: 'League Spartan', sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--League-Spartan);
}
.main{
    display: grid;
    max-width: 1400px;
    /* Este ancho maximo es el ultimo breakpoint de escritorio */
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,max-content);
    grid-template-areas: 
    "main"
    "cta"
    "image1"
    "about"
    "image2";
}
.container{
    width: 90%;
     margin: 0 auto;
     overflow: hidden;
     padding: 60px 0;
}
.main__hero{
    grid-area: main;
    background-image: url("../images/desktop-image-hero-1.jpg");
    min-height: 400px;
    background-size: cover;
    background-position: center;
}
.main__nav{
    display: flex;
    
}
.main__links{
    display: none;
}
.main__logo{
    margin: 0 auto;
}
.main__controls{
    background-color: var(--Black);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: main;
    align-self: end;
    justify-self: end;
}
.main__control{
    height: 40%;
}
.main__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.main__buy{
    grid-area: cta;
}
.main__title{
    color: var(--Black)

}
.main__paragraph{
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--Dark-Gray);
}
.main__paragraph--about{
    margin: 1em 0 0 0 ;
}
.main__cta{
    text-decoration: none;
    color: var(--Very-Dark-Gray);
    text-transform: uppercase;
    letter-spacing: 10px;

}
.main__arrow{
    margin-left: 20px ;
}
.main__bg{
    grid-area: image1;
    min-height: 250px;
    height: 100%;
    background-image: url("../images/image-about-dark.jpg");
    background-position: center;
}
.main__about{
    grid-area: about;
}
.main__bg--second{
    grid-area: image2;
    background-image: url("../images/image-about-light.jpg");
}
@media(min-width:768px ){
    .container{
        width: 85%;
        padding: 70px 0;
    }
    .main{
        grid-template-columns: repeat(7,1fr);
        grid-template-areas: 
        "main main main cta cta cta cta"
        "main main main cta cta cta cta"
        "main main main cta cta cta cta"
        "image1 image1 about about about image2 image2"
        "image1 image1 about about about image2 image2"
        ;
    }
    .main__controls{
        grid-area: cta;
        justify-self: start;
    }
    .main__logo{
        margin: 0;
    }
    .main__hamburguer{
        display: none;
    }
    .main__links{
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
        margin-left: 10%;
    }
    .main__list{
        list-style: none;
    }
    .main__link{
        color: var(--White);
        text-decoration: none;
    }
}